:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100vw;
}

input[type='number'] {
  width: 100px;
}

button[type='submit'] {
  margin-top: 15px;
  width: 100%;
}

button[type='button'] {
  margin-top: 20px;
}

#container {
  height: 100vh;
  width: 100vw;
}

#three-canvas {
  position: relative;
  width: 200px;
  height: 1000px;
}

.main-panel, .left-panel, .right-panel {
  max-height: 300px;
  overflow: hidden;
  overflow-y: auto;
}

.dialog-container {
  width: auto;
  background-color:rgba(255, 255, 255, 0.603);
  color: black;
  padding: 5px 25px;
  border-radius: 20px;
  overflow: hidden;
  overflow-y: auto;
}

#interface {
  position: absolute;
  z-index: 1000;
  top: 0px;
  left: 20px;
  width: auto;
  align-items: flex-start;
}

.interface-button {
  width: auto;
  height: 42px;
  background-color: rgba(255, 255, 255, 0.603);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 1000px;
  padding: 0px 10px;
  color: #000000;
}

.interface-button svg {
  width: 20px;
  height: 20px;
  stroke: #000000;
  transition: 200ms;
}

.interface-button span {
  width: 0px;
  overflow: hidden;
  margin: 0px;
  transition: 200ms;
}

.interface-button:hover svg {
  stroke: #00890b;
} 

.interface-button:hover span {
  width: auto;
  white-space: nowrap;
  margin: 0px 15px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgba(255, 255, 255, 0.663);
  color: #000000;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

form {
  width: 400px;
  height: 300px;
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin: 20px 0px;
  background-color: #e9ffee;
  padding: 20px;
}

form div:first-of-type h2 {
  margin-top: 5px;
}

h2, h3 {
  color: black;
}

label {
  color: white;
}

input, select {
  background-color: white;
  accent-color: white;
  color: black;
  border: 1px solid black;
  padding: 3px;
}

input:focus, select:focus {
  outline: 4px auto #018a08;
}

.result {
  display: flex;
  flex-direction: column;
}

ul {
  width: 80%;
  padding-left: 0px;
}

li {
  margin: 20px 30px;
  margin-top: 0px;
}

li:last-of-type {
  margin-bottom: 0px;
}

.list-item {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 0px;
  background-color: #487e56;
  padding: 15px;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0px;
  margin-bottom: 15px;
}

.list-item button {
  margin-top: 0px;
}

.list-item p {
  margin: 0px;
}

#date-times-result {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#reminder-frequency-option-container {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.reminder-frequency-option {
  display: flex; 
}

.reminder-frequency-option label p {
  margin-left: 20px;
  color: black;
}

input[type='checkbox'] {
  padding: 5px;
}

input[type='checkbox']:not(:checked) {
  accent-color: #487e56;
  background-color: #487e56;
}

#month-each-year-checked + label {
  color: white;
}

#day-of-week-each-month-checked + label {
  color: white;
}

#pattern-all-day-checked + label {
  color: white;
}

#confirm-pattern-button {
  background-color: #89d29c;
}

span {
  color: black;
}

div {
  color: white;
}

form p {
  color: white;
}

input[type='checkbox']:checked {
  accent-color: #018a08;
  outline: 1px solid #e9ffee;
}

input[type='checkbox']:not([id="every-year-checked"]) + label {
  color: black;
}



section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #018a08;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 20px 20px;
  margin: 10px 0px;
}

.subsection {
  background-color: #487e56;
  border: none;
}

#specific-date-time-container {
  display: flex;
  justify-content: space-between;
  text-align: right;
}

section div {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

section div:last-child {
  margin-bottom: 0px;
}

article {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
}

h2 {
  text-align: center;
}

article div {
  margin-bottom: 0px;
}

article div label {
  width: 100%;
  text-align: left;
  margin-left: 10px;
}

select {
  width: 40%;
}

h3 {
  text-align: center;
  margin: 5px 0px;
  margin-bottom: 25px;
  text-decoration: 1px dashed underline white;
  text-underline-offset: 4px;
}

hr {
  width: 100%;
  margin: 25px 0px;
  border: 1px solid #00890b;
}

.item-name {
  width: 75%;
  word-break: break-all;
  text-align: right;
  padding-right: 10px;
}

#year-equation-label {
  display: flex;
  align-items: center;
}

#pattern-reminder {
  width: 75%;
  height: auto;
  background-color: #89d29c;
  color: black;
  border-radius: 20px;;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px 0px;
  border: 1px solid white;
}

#pattern-reminder h4 {
  margin-top: 14px;
  margin-bottom: 13px;
  width: 100%;
  text-align: center;
}

.single-date-times-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
}

.single-date-times-container div:first-of-type {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid white;
  padding: 10px 0px;
  padding-bottom: 20px;
}

.single-date-times-container div:first-of-type button {
  margin: 0px;
}

label {
  width: 85%;
  text-align: right;
}

li {
  list-style-type: none;
}

span {
  font-size: 10pt;
  text-align: center;
  margin-bottom: 10px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}

label[for="every-year-checked"] {
  color: white;
}