:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #d2feff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100vw;
  font-family: "Raleway", sans-serif;
}

h1, h2, h3, h4 {
  font-family: "Dosis", sans-serif;
}

#todo-container {
  width: 100vw;
  height: 100vh;
}

#music-credits {
  width: 80vw;
  position: absolute;
  bottom: 10px;
  margin: 0px 20vw;
  left: -10.5vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: xx-small;
  text-align: left;
  padding: 5px;
  background-color: #a1ff8c;
  border-radius: 5px;
}

#music-credits span {
  font-size: smaller;
  border-right: 1px solid #417097;
  padding-right: 20px;
  text-align: right;
  margin-bottom: 0px;
}

#music-credits div {
  margin-left: 20px;
}

#music-credits a {
  font-size: smaller;
  text-align: left;
  color:#417097;
}

#loading-header {
  position: relative;
  margin: 0px auto;
  height: auto;
  text-align: center;
  top: 50%;
}

#app-title-container {
  position: absolute;
  top: 10px;
  margin-left: 30px;
  z-index: 10000;
  width: auto;
  display: flex;
  justify-content: flex-start;
  font-size: smaller;
  opacity: 1.0;
  animation-duration: 1s;
  animation-name: titleslideandfadein;
  animation-iteration-count: 1;
  animation-direction: normal;
}

@keyframes titleslideandfadein {
  from {
    top: -50px;
    opacity: 0.0
  }

  to {
    top: 10px;
    opacity: 1.0
  }
}

#app-title {
  box-shadow: 0px 2px 3px rgba(0, 0, 0, .5);
  color: #417097;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 25px 35px;
  padding-top: 28px;
  padding-bottom: 22px;
  width: auto;
  white-space: nowrap;
  text-align: center;
}

input[type='number'] {
  width: 100px;
}

button[type='submit'] {
  box-shadow: 0px 1px 2px #417097;
  margin-top: 15px;
  width: 100%;
}

button[type='button']:not(
  [aria-label="close"]
):not(
  [class="remove-time-button"]
):not(
  [class="remove-date-button"]
):not(
  [class="single-todo-button"]
):not(
  [class="add-todo-form-remove-item-name"]
) {
  margin-top: 20px;
}

.Toastify__toast {
  background-color: #d2feff;
}

.Toastify__toast-body {
  display: flex;
  align-items: center;
  width:min-content;
}

.Toastify__toast-body div {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: #417097;
}

.toast-info-container {
  width: 100%;
  margin-right: 5px;
  padding: 5px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.toast-info-img-container {
  position: relative;
  width: 100%;
  background-color: #16b6ce;
  box-shadow: inset -.5px 1px 2px #417097;
  border-radius: 100px;
  width: 55px;
  height: 55px;
  display: flex;
  margin: 15px 0px;
  margin-bottom: 5px;
}

.toast-info-img-container img {
  position: relative;
  width: 50px;
  height: 50px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  margin-left: 10px;
  filter: drop-shadow(-1px 1px .5px rgba(0, 0, 0, 1));
}

.toast-info-category-subcategory-time {
  margin-left: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
  align-self: flex-start;
}

.toast-info-container i {
  display: block;
  margin-bottom: 10px;
}

.toast-todo-list {
  margin-right: 0px;
  scrollbar-color: #d2feff #915318;
  max-height: 200px;
  overflow: auto;
  width: 230px;
  padding: 10px;
  background-color: white;
  box-shadow: 0px 1px 2px #417097;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.toast-todo-list li {
  padding-left: 5px;
}

#three-canvas {
  position: relative;
  width: 200px;
  height: 1000px;
}

.main-panel, .left-panel, .right-panel {
  max-height: 300px;
  overflow: hidden;
  overflow-y: auto;
}

.dialog-container {
  width: auto;
  background-color:rgba(255, 255, 255, 0.8);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
  color: black;
  padding: 5px 25px;
  border-radius: 20px;
  overflow: hidden;
  overflow-y: auto;
}

.greet-dialog-container {
  background-color:rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  padding: 20px;
}

#greet-text {
  text-align: center;
  color:#417097;
  background-color: rgba(255, 255, 255, 0.87);
  box-shadow: 0px 1px 2px #417097;
  padding: 20px;
  border-radius: 5px;
  line-height: 25px;
  font-size: smaller;
  margin: 0px 0px;
}

#greet-text h4 {
  margin: 10px;
  font-size: larger;
}

#greet-text span {
  font-family: "Dosis", sans-serif;
  font-weight: 700;
}

.search-todos-results-container {
  height: 400px;
}

.search-todos-results-todo-list {
  overflow: hidden;
  overflow-y: auto;
  max-height: 500px;
}

.search-todos-results-todo-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.search-todos-single-todo-container, .todays-todos-single-todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 0px 1px 2px #417097;
  border-radius: 10px;
  padding: 20px;
  width: 85%;
  margin-bottom: 15px;
  font-weight: 575;
}

.search-todos-single-todo-container section, .todays-todos-single-todo-container section {
  margin-bottom: 10px;
  letter-spacing: .25px;
}

.search-todos-single-todo-container:last-child {
  margin-bottom: 0px;
}

.search-todos-single-todo-buttons-container {
  display: flex;
}

.deactivated section p,
.deactivated section li,
.deactivated section h4,
.deactivated section section
.deactivated section {
  letter-spacing: .5px;
  color:#d2feff;
  font-weight: 500;
}

.deactivated section,
.deactivated section ul {
  background-color: #417097;
}

.deactivated section ul {
  border: 1px solid #d2feff;
}

.deactivated .search-todos-results-date-time-container {
  border: 1px solid #d2feff;
}

.delete-todo-modal, .deactivate-today-todo-modal {
  box-shadow: none;
  border: none;
  text-align: center;
  padding-right: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.delete-todo-modal .yes-button, 
.delete-todo-modal .no-button, 
.deactivate-today-todo-modal .yes-button,
.deactivate-today-todo-modal .no-button {
  cursor: pointer;
  background-color: white;
}

.vertical {
  display: flex;
  flex-direction: column;
} 

.vertical button:last-child {
  margin-top: 20px;
}

.vertical button {
  cursor: default;
}

.vertical button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.vertical button:hover span {
  width: 0px;
  padding: 0px;
  margin: 0px;
}

.vertical button:hover svg {
  stroke: #417097;
}

.search-todos-results-todo-reminder-frequency-section, .search-todos-results-todos-section {
  display: flex;
  flex-direction: column;
  margin-left: 0px;
  max-height: 200px;
  overflow: auto;
}

.reminder-frequency-description-times-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.reminder-frequency-description-times-list p, .reminder-frequency-description-date-container p {
  margin: 0px;
}

.reminder-frequency-description-times-list ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.reminder-frequency-description-times-list ul li {
  margin: 0px;
}

.reminder-frequency-description-date-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-header {
  text-align: center;
  text-decoration: 1px dashed underline #417097;
  text-underline-offset: 3px;
  margin-top: 0px;
  margin-bottom: 15px;
}

#interface {
  position: absolute;
  z-index: 1000;
  bottom: 20px;
  left: 20px;
  width: auto;
  align-items: flex-start;
  opacity: 1.0;
  animation-duration: 1s;
  animation-name: interfaceslideandfadein;
  animation-iteration-count: 1;
  animation-direction: normal;
}

@keyframes interfaceslideandfadein {
  from {
    left: 0px;
    opacity: 0.0
  }

  to {
    left: 20px;
    opacity: 1.0
  }
}

.interface-button, .single-todo-button {
  width: auto;
  height: 42px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, .5);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 1000px;
  padding: 0px 10px;
  color: #000000;
  transition: 200ms;
}

.interface-button:hover, .single-todo-button:hover {
  background-color: #d2feff;
}

.interface-button svg, .single-todo-button svg {
  width: 20px;
  height: 20px;
  stroke: #417097;
  stroke-width: 1.5px;
  transition: 200ms;
}

.interface-button span, .single-todo-button span {
  width: 0px;
  overflow: hidden;
  margin: 0px;
  transition: 200ms;
}

.interface-button:hover svg, .single-todo-button:hover svg {
  stroke: #915318;
} 

.interface-button:hover span, .single-todo-button:hover span {
  width: auto;
  white-space: nowrap;
  margin: 0px 15px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgba(255, 255, 255, 0.663);
  color: #000000;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

form {
  width: 400px;
  height: 300px;
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin: 20px 0px;
  background-color: #d2feff;
  padding: 20px;
  /* border: 3px solid #417097; */
  box-shadow: 0px 0px 5px #417097;
  border-radius: 10px;
  scrollbar-color: #d2feff #915318;
}

form div:first-of-type h2 {
  margin-top: 5px;
}

h2, h3 {
  color: #915318;
}

label {
  color: #417097;
}

input, select {
  background-color: white;
  accent-color: white;
  color: black;
  border: 1px solid black;
  padding: 3px;
}

input:focus, select:focus {
  outline: 4px auto #16b6ce;
}

.result {
  display: flex;
  flex-direction: column;
}

ul {
  padding-left: 0px;
}

li {
  margin: 20px auto;
  margin-top: 0px;
  color: #417097;
}

li:last-of-type {
  margin-bottom: 0px;
}

.items-added-container {
  width: 90%;
}

.list-item, .single-today-todo-deactivate-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 0px;
  background-color: #a1ff8c;;
  padding: 15px;
  border: none;
  box-shadow: 0px 1px 2px #417097;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0px;
  margin-bottom: 15px;
  font-weight: 500;
}

.list-item button {
  margin: 0px;
}

.list-item p {
  margin: 0px;
}

#date-times-result {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-date-container {
  background-color: #16b6ce;
  padding: 20px 20px;
  padding-top: 25px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

#reminder-frequency-option-container {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

#reminder-frequency-switch-header p {
  display: inline;
  color: #915318;
  text-decoration: none;
  transition: 300ms;
}

.reminder-frequency-option label p {
  text-decoration: none;
  transition: 200ms;
}

#reminder-frequency-switch-header p.underlined-reminder-frequency-option, 
.reminder-frequency-option label p.underlined-reminder-frequency-option {
  color:#417097;
  text-decoration: 1px dashed underline #417097;
  text-underline-offset: 3px;
}

.reminder-frequency-option:first-child {
  margin-right: 20px;
}

.reminder-frequency-option {
  display: flex; 
  align-items: center;
}

.reminder-frequency-option label p {
  margin-left: 10px;
  color: #417097;
}

.pattern-or-specified-section {
  height:auto;
  max-height: 200000px;
  transition: max-height 300ms;
}

.pattern-or-specified-section[class="pattern"] {
  height:auto;
}

.pattern-times-list {
  width: 230px;
  border: 1px solid #16b6ce;
  padding: 15px;
  max-height: 200px;
  overflow: auto;
}

.pattern-times-list li button {
  margin: 0px;
}

.remove-time-button {
  margin: 0px;
}

#pattern-times-list li {
  display: flex;
  align-items: center;
}

input[type='checkbox'] {
  padding: 5px;
  width: 25px;
  height: 25px;
  border-radius: 200px;
}

input[type='checkbox']:not(:checked) {
  accent-color: #a1ff8c;;
  background-color: #a1ff8c;;
}

#month-each-year-checked + label {
  color: #417097;
}

#day-of-week-each-month-checked + label {
  color: #417097;
}

#pattern-all-day-checked + label {
  color: #417097;
}

#confirm-pattern-button {
  border: 1px solid #417097;
  background-color: #a1ff8c;
  color: #417097;
  transition: 50ms;
}

#confirm-pattern-button:hover {
  background-color: #213547;
  border-color: #213547;
  color: #d2feff;
}

span {
  color: #16b6ce;
}

div {
  color: #417097;
}

form p {
  color: #417097;
}

input[type='checkbox']:checked {
  accent-color: #16b6ce;
  outline: 1px solid #d2feff;
}

.black-text-label {
  color: black !important;
}

input[type='checkbox']:not([id="every-year-checked"]) + label {
  color: #417097;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #16b6ce;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 20px 20px;
  margin: 10px 0px;
}

.subsection {
  /* border: 1px solid #4cc182; */
  border: none;
  background-color: #a1ff8c;
  box-shadow: 0px 1px 2px #417097;
}

.subsection:last-child {
  margin-bottom: 0px;
}

.search-todos-results-todos-container, .search-todos-results-date-time-container {
  border: none;
  background-color: white;
  padding: 20px 20px;
  border-radius: 5px;
  box-shadow: 0px 1px 2px #417097;
}

.search-todos-results-date-time-container p {
  margin: 5px;
}

.search-todos-results-todos-container li {
  margin: 0px;
}

#specific-date-time-container {
  display: flex;
  justify-content: space-between;
  text-align: right;
}

section div {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

section div:last-child {
  margin-bottom: 0px;
}

article {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
}

h2 {
  text-align: center;
}

article div {
  margin-bottom: 0px;
}

article div label {
  width: 100%;
  text-align: left;
  margin-left: 10px;
}

select {
  width: 40%;
}

h3 {
  text-align: center;
  margin: 15px 0px;
  margin-bottom: 25px;
  text-decoration: 1px dashed underline #417097;
  text-underline-offset: 4px;
}

hr {
  width: 100%;
  margin: 25px 0px;
  border: 1px solid #16b6ce;
}

.item-name {
  width: 75%;
  word-break: break-all;
  text-align: right;
  padding-right: 10px;
}

#year-equation-label {
  display: flex;
  align-items: center;
}

#pattern-reminder {
  width: 75%;
  height: auto;
  /* border: 2px solid #417097; */
  background-color: white;
  color: black;
  border-radius: 20px;;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px 25px;
  box-shadow: 0px 1px 2px #417097;
  /* border: 1px solid white; */
}

#pattern-reminder h4 {
  margin-top: 14px;
  margin-bottom: 13px;
  width: 100%;
  text-align: center;
  color: #417097;
}

.pattern-dates-times-list {
  display: flex;
  flex-direction: column;
  max-height: 400px;
  overflow: auto;
  padding: 15px 5px;
}

.single-date-times-container {
  width: 95%;
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px #417097;
}

.single-date-times-container div:first-of-type {
  width: 85%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid white;
}

.single-date-times-container div:first-of-type button {
  margin: 0px;
}

label {
  width: 85%;
  text-align: right;
  color: #417097;
  font-weight:500;
}

li {
  list-style-type: none;
}

span {
  font-size: 10pt;
  text-align: center;
  margin-bottom: 10px;
  color: #417097;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}

label[for="every-year-checked"] {
  color: #417097;
}